@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: none;
  font-family: "Inter";
}

section {
  position: relative;
  display: flex;
}

section::before {
  content: "";
  inset: 0;
  background-image: url("./img/mountains_1.jpg");
  position: fixed;

  background-size: cover;
  width: 100vw;
}
section::after {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  background: #00000092;
}

section .aside {
  min-height: 100vh;
  flex: 2;
}
section .main {
  min-height: 100vh;
  flex: 8;
  z-index: 2;
  /* display: block; */
  /* flex-direction: column; */
}

/****************************** Clock ********************/
.main .clock {
  flex: 3;
  display: flex;
  position: absolute;
  top: 100px;
  align-items: flex-end;
  justify-content: center;
  position: sticky;
}
.clock .color_box {
  position: relative;
  width: 70%;
  height: 150px;
  margin-bottom: 50px;
}
.clock .color_box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
}
.clock .color_box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
  filter: blur(40px);
  opacity: 0.75;
}

.clock .color_box .grey_box {
  position: absolute;
  inset: 4px;
  background-image: linear-gradient(165deg, #28272f, #040404);
  border-radius: 16px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grey_box .numbers_bx {
  position: relative;
  display: flex;
  justify-content: center;
}
.numbers_bx .clock_num {
  margin: 10px;
  font-size: 65px;
}
.numbers {
  font-weight: 500;
  background-image: linear-gradient(90deg, #eef1f1, #71757e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

/*********************** Buttons ***********************/

.main .buttons {
  flex: 1;
  display: flex;
  position: absolute;
  justify-content: space-around;
  position: sticky;
  top: 300px;
}
.buttons .button {
  position: relative;
  font-size: 45px;
  padding: 10px 30px;
  align-self: self-start;
  border: 1px double #eef1f189;
  border-radius: 15px;
  z-index: 10;
  transition: all 0.1s;
}
.buttons .button:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #eef1f189);
  transition: all 0.3s;
}
.buttons .button:active {
  transform: scale(0.8);
  filter: drop-shadow(10px 10px 10px #6753d9c1);
  transition: all 0.1s;
}
.buttons .button:active::before {
  background-image: none;
  transition: all 0.1s;
}
.buttons .button ::after {
  background-image: linear-gradient(165deg, #28272f, #040404);
  content: "";
  border-radius: 15px;
  position: absolute;
  inset: 0;
  z-index: -4;
}
.buttons .button::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 15px;
  background-image: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  filter: blur(10px);
  z-index: -5;
}
.buttons .start {
  align-self: flex-end;
  font-size: 50px;
}
/* .hidden_btn {
  visibility: hidden;
} */

/************************* Stops *********************/
.main .stops {
  position: relative;
  top: 100px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stops ul {
  list-style-type: none;
  font-size: 30px;
  text-align: justify;
}
.stops ul li {
  margin: 20px;
}

/*******************  Adaptation *******************/

/********************* Automation *******************/
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
.rotating::before,
.rotating::after {
  animation: rotating 4s linear infinite;
}
@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
